/- unless @works.nil?
/  %section.recent-work-container
/    %section.recent-work.cf
/      %ul
/        - @works.each do |w|
/          %li
/            %a(class="work #{w.classification}" href="/work/#{w.slug}")
/              %img(src="#{w.thumb}")

.page.container.cf
  #blog
    - unless @posts.empty?
      - @posts.each do |post|
        %article.post
          %section.meta
            %time(datetime="#{post.created_at}") #{post.date}
          %section.meat
            %header
              %h1
                %a(href="/#{post.slug}") #{post.title}
            :markdown
              #{post.body}
            %section.comments-preview
              %a(href="/#{post.slug}#comments") #{post.comments.count} Comments

  = haml :sidebar
