%h1.intro 
  I’m <span class="highlight">Eric</span> and I enjoy beautifully crafted <span class="highlight">user interfaces</span> that work.
  %span.small
    Some of my other interests include <span class="highlight">developing websites</span> and <span class="highlight">web/mobile applications</span>.
#blog
  %section.blog-body
    - unless @posts.empty?
      = @posts.each do |post|
        %article.post
          %h2
            %a(href="/post/#{post.id}") #{post.title}
          %p #{post.body}
%section.recent-work
  %h3 Recent Work
  - unless @work.nil?
    %a.work(href="/work/#{@work.slug}")
      %img(src="#{@work.thumb}")
