%h2 Work Examples

%h3 #{@work.title}
%h4 Info
%p #{@work.description}
%h4 Technology
%p #{@work.tech_used}
%h4 Screens
%img(src="#{@work.screenshots[0].url_small}")
%img(src="#{@work.screenshots[0].url_medium}")
%img(src="#{@work.screenshots[0].url_large}")