.page.container.cf
  #blog
    %article.post
      %section.meta
        %time(datetime="#{@post.created_at}") #{@post.date}
      %section.meat
        %header
          %h1 #{@post.title}
        %p #{@post.body}

      = haml :comments

  = haml :sidebar
