%h1 Hello #{@post.title}
%p #{@post.body}

%h3 Add a Comment
%form(action="/comment" method = "POST")
	
	%label(for="author") Name:
	%input(type="text" name="comment[author]")
	
	%label(for="body") Comment:
	%textarea(name="comment[body]")
	
	%input(type="hidden" name="comment[post_id]" value="#{@post.id}")
	
	%input#submit(type="submit" value="Submit")

- unless @comments.empty?
	%h3 Comments
	%ul
		- @comments.each do |c|
			%li
				- if c.url.nil?
					%span= c.author
				- else
					%a(href="#{c.url}") #{c.author}

				%p #{c.body}
